@media print{
    #Uiprint{
      border: none;
      /* width: 100vw;
      height: 100vh; */
      margin: 0;
      padding: 0;
    }
    .close{
      display: none;
      
    }
    .ui-resizable-handle,.ui-resizable-e,.ui-resizable-se,.ui-resizable-s{
      display: none;
    }

  }