@media screen{
.ui-draggable-dragging{
    box-shadow:0 0 2px rgb(202, 200, 200);
    padding: 15px;
    background-color:#c7e6e194!important;
    color:rgba(70, 69, 59, 0.924);
}

.table-style {
    border-width: 0;
    border-right-style: solid;
    border-right-width: 1px;
    table-layout: fixed;
    width: 100%;
  } 
  
  .table-style thead tr,.table-style thead tr th {
    padding-left:1rem;
    border: 1.5px solid rgba(0, 0, 0, 0.972);
  }
  .table-style tbody tr>td{
    border: 1px solid rgba(68, 5, 5, 0.226);
    padding-left:0.5rem;
  }

  .list-group-item.active{
    background-color: #0181bd;
    color: white;
    
  }
}
@media print{
  .ui-draggable-dragging{
    box-shadow:0 0 0px rgb(202, 200, 200);
    padding: 15px;
    background-color:#c7e6e194!important;
    color:rgba(70, 69, 59, 0.924);
}

.table-style {
    border-width: 0;
    border-right-style: solid;
    border-right-width: 0px;
    table-layout: fixed;
    width: 100%;
  } 
  
  .table-style thead tr,.table-style thead tr th {
    padding-left:1rem;
    border: 1.5px solid rgba(0, 0, 0, 0.972);
  }
  .table-style tbody tr>td{
    border: 1px solid rgba(68, 5, 5, 0.226);
    padding-left:0.5rem;
  }

  .list-group-item.active{
    background-color: #0181bd;
    color: white;
    
  }
}

/* .TextField{
  /* position: absolute !important;
  overflow: hidden;
  border: 1px solid #e8e7e7;
  cursor: move;
  width: auto;
  text-align: start;*/
  /* color: #000; */
  /* line-height: normal; */
  /* z-index: 100; */
/* }  */